<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'Home:home'  %}">
                Accueil
            </a> 
            <a href=" {% url 'Apropos:Apropos'  %} ">
                apropos
            </a>
            <a href="{% url 'Prof:Prof'  %}">
                Professeurs
            </a>
            <a href="{% url 'Classes:Classes'  %}">
                Classes
            </a>
            <a href="{% url 'Inscription:Inscription'  %}">
                Inscription
            </a>
            <a href="{% url 'Calendrier:Calendrier'  %}">
                Calendrier
            </a>
            </nav>
    </header>

    {% block 'content' %}
    
    {% endblock %}
</body>
</html>