{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Ecole</title>
</head>
<body>
    <header>
        <div class="firsthead">
            Welcome to Ecole
            facebook
            twitter
        </div>
        <div>
            Email: Ecole@gmail.com
            ECOLE
            Contact: +261 034 00 000 00
        </div>
        <nav>
            Accueil
            A propos de nous 
            Professeurs 
            Classes
            Inscription 
            Calendrier
        </nav>
        
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>